.floating-logo {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  transition-duration: 500ms;
}

.floating-logo:hover {
  cursor: pointer;
}

.floating-logo.clicked {
  top: -100px;
}

.gray-out {
  color: #999;
}

.display-none {
  display: none;
}

.task-area {
  transition-duration: 500ms;
  opacity: 1;
}

.task-area-hidden {
  height: 0;
  transform: scale(1, 0);
  opacity: 0;
}

.todo-title {
  font-size: 7.5em;
  font-weight: bold;
}

.todo-label {
  margin-right: 15px;
}

.tag-label {
  margin-right: 15px;
}

.tag-label:hover {
  color: #19f;
  cursor: pointer;
}

.todo-section ul,
.done-section ul {
  padding: 3px;
  list-style-type: none;
}

.todo-section ul li,
.done-section ul li,
.done-section button {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 16px;
  padding: 7px;
  border: solid 1px #999;
  border-radius: 7px;
  box-shadow: 0 0 4px #999;
}

.done-section button {
  background-color: transparent;
  outline: none;
}

.done-section button:hover {
  background-color: #19f;
}

.task-list-hidden {
  display: none;
}

.back-btn {
  font-size: 1.1em;
  margin-top: 70px;
}

.back-btn:hover {
  color: #19f;
  cursor: pointer;
}

.back-nav-area {
  margin-top: 20px;
}

.project-simple-section .project-title-section,
.tags-section .tag-title-section {
  font-size: 4em;
  font-weight: bold;
}
.project-simple-section .project-title-section:hover,
.tags-section .tag-title-section:hover {
  color: #19f;
  cursor: pointer;
}
