.navbar-title {
  font-weight: bold;
}

.gray-out {
  color: #999;
}

.display-none {
  display: none;
}

.task-area {
  transition-duration: 500ms;
  opacity: 1;
}

.task-area-hidden {
  height: 0;
  transform: scale(1, 0);
  opacity: 0;
}

.todo-title {
  font-size: 7.5em;
  font-weight: bold;
}

.todo-label {
  margin-right: 15px;
}

.tag-label {
  margin-right: 15px;
}

.tag-label:hover {
  color: #1199ff;
}

.todo-section ul,
.done-section ul {
  padding: 3px;
  list-style-type: none;
}

.todo-section ul li,
.done-section ul li,
.done-section button {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 16px;
  padding: 7px;
  border: solid 1px #999;
  border-radius: 7px;
  box-shadow: 0 0 4px #999;
}

.done-section button {
  background-color: transparent;
  outline: none;
}

.done-section button:hover {
  background-color: #19f;
}

.task-list-hidden {
  display: none;
}
